*~
build/
GPATH
GRTAGS
GSYMS
GTAGS

# libev
deps/libev-4.24/.deps
deps/libev-4.24/.libs
deps/libev-4.24/Makefile
deps/libev-4.24/config.h
deps/libev-4.24/config.log
deps/libev-4.24/config.status
deps/libev-4.24/libtool
deps/libev-4.24/stamp-h1


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
